@import "tailwindcss";

@theme {
  --color-primary: #96B3BF;
  --color-dark: #121843;
  --color-accent: #C1572A;
  --color-secondary: #CC7A55;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply text-gray-800 bg-gray-50;
  }
}

@layer utilities {
  .glass-effect {
    @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-lg;
  }
}
